@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.custom-img {
  background-image: url('../public/HeroSoluciones.jpg');
  background-repeat: no-repeat;
  object-fit: cover;
}

.stella-orange {
  color: rgb(255, 127, 48);
}